@import "src/assets/styles/extension-classes.scss";

.container {
  display: flex;
  align-items: center;
  gap: var(--eco-15);

  background-color: var(--eco-background);

  .input-container {
    display: flex;
    align-items: center;
    gap: var(--eco-0875);

    background-color: var(--eco-container);
    
    @extend .eco-ph-075;

    &.rounded {
      border-radius: var(--eco-04);
    }

    &.oval {
      border-radius: var(--eco-15);
    }

    &.outline {
      background-color: var(--eco-surface);
      color: var(--eco-text-reduce);
      border: 1px solid var(--eco-text-reduce);
    }
  }

  img {
    width: var(--eco-1125);
    height: var(--eco-1125);
  }

  input {
    background-color: inherit;
    border-radius: inherit;
  }

  button {
    color: var(--eco-surface);
    background-color: var(--eco-primary-500);

    &.rounded {
      border-radius: var(--eco-04);
    }

    &.oval {
      border-radius: var(--eco-15);
    }
  }
}
