.eco-pb-0625,
.eco-pv-0625,
.eco-pa-0625 {
  padding-bottom: var(--eco-0625);
}

.eco-pt-0625,
.eco-pv-0625,
.eco-pa-0625 {
  padding-top: var(--eco-0625);
}

.eco-pr-0625,
.eco-ph-0625,
.eco-pa-0625 {
  padding-right: var(--eco-0625);
}

.eco-pl-0625,
.eco-ph-0625,
.eco-pa-0625 {
  padding-left: var(--eco-0625);
}

.eco-pb-075,
.eco-pv-075,
.eco-pa-075 {
  padding-bottom: var(--eco-075);
}

.eco-pt-075,
.eco-pv-075,
.eco-pa-075 {
  padding-top: var(--eco-075);
}

.eco-pr-075,
.eco-ph-075,
.eco-pa-075 {
  padding-right: var(--eco-075);
}

.eco-pl-075,
.eco-ph-075,
.eco-pa-075 {
  padding-left: var(--eco-075);
}

.eco-pb-1625,
.eco-pv-1625,
.eco-pa-1625 {
  padding-bottom: var(--eco-1625);
}

.eco-pt-1625,
.eco-pv-1625,
.eco-pa-1625 {
  padding-top: var(--eco-1625);
}

.eco-pr-1625,
.eco-ph-1625,
.eco-pa-1625 {
  padding-right: var(--eco-1625);
}

.eco-pl-1625,
.eco-ph-1625,
.eco-pa-1625 {
  padding-left: var(--eco-1625);
}
